*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo';
}

.fondo{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.color-white{
    color: white;
}
.img-michi{
    background-image: url(../img/michi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 28vh;
    width: 11vw;
    margin: 0 auto;
    overflow: overlay;   
}