*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo';
}
.fondo-presentacion, .fondo-choose{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.fondo-presentacion{
    z-index: 10;
    padding-top: 10%;
}
.fondo-choose{
    z-index: 3;
}
.color-white{
    color: white;
}
.img-michi{
    background-image: url(../img/michi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 28vh;
    width: 11vw;
    margin: 0 auto;
    overflow: overlay;   
}
.cursor-pointer{
    cursor: pointer;
}
.hover-blue:hover{
    color:#039be5;
}

.hidden{
    display: none;
}
.classX{
    background-color: aquamarine;
}

.classO{
    background-color: purple;
}
/*--------------------------------------*/
body{
	background-color: black;
	color: white;
    font-family: 'Arimo';
}
.sin-mg{
	margin:0;
	padding: 0;
}
.cuadrado{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin:0;
}
.cuadrado:hover{
	background-color: rgba(250,250,250,0.1);
}
.inf{
	border-bottom:4px solid white;
}
.der{
	border-right: 4px solid white;
}
.casa, .visita{
	width: 50px;
	height: 50px;
	border:1px solid white;
	display: inline-block;
}